In [1]:
import kagglehub
import csv
import requests
import time
import os
import pandas as pd
from dotenv import load_dotenv
import io

c:\Users\tiakh\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
load_dotenv()

False

In [3]:
path = kagglehub.dataset_download("new-york-state/nys-nyc-transit-subway-entrance-and-exit-data")

# Find the CSV file in the downloaded dataset folder
csv_files = [f for f in os.listdir(path) if f.endswith(".csv")]
csv_file = os.path.join(path, csv_files[0])

subway_stations = pd.read_csv(csv_file)

print("Loaded rows:", len(subway_stations))
subway_stations.head()

Loaded rows: 1868

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,...,ADA,ADA Notes,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location
0,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SW,40.660489,-73.998220,"{'longitude': '-73.998091', 'latitude': '40.66...","{'longitude': '-73.99822', 'latitude': '40.660..."
1,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SE,40.660323,-73.997952,"{'longitude': '-73.998091', 'latitude': '40.66...","{'longitude': '-73.997952', 'latitude': '40.66..."
2,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654676,-74.004306,"{'longitude': '-74.003549', 'latitude': '40.65...","{'longitude': '-74.004306', 'latitude': '40.65..."
3,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NE,40.654365,-74.004113,"{'longitude': '-74.003549', 'latitude': '40.65...","{'longitude': '-74.004113', 'latitude': '40.65..."
4,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654490,-74.004499,"{'longitude': '-74.003549', 'latitude': '40.65...","{'longitude': '-74.004499', 'latitude': '40.65..."

In [4]:
cols_keep = ["Station Name", "Line", "Station Longitude", "Station Latitude", "Route1", "Route2", "Route3", "Route4", "Route5", "Route6", "Route7", "Route8", "Route9", "Route10", "Route11"]

In [5]:
subway_stations = subway_stations[cols_keep]

In [6]:
subway_stations.head()

,Station Name,Line,Station Longitude,Station Latitude,Route1,Route2,Route3,Route4,Route5,Route6,Route7,Route8,Route9,Route10,Route11
0,25th St,4 Avenue,-73.998091,40.660397,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25th St,4 Avenue,-73.998091,40.660397,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,36th St,4 Avenue,-74.003549,40.655144,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,36th St,4 Avenue,-74.003549,40.655144,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36th St,4 Avenue,-74.003549,40.655144,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
entrance_count = subway_stations.groupby(['Station Name', 'Line']).size().reset_index(name='EntranceCount')
subway_stations = subway_stations.merge(entrance_count, on=['Station Name', 'Line'], how='left')

In [8]:
subway_stations.head(20)

,Station Name,Line,Station Longitude,Station Latitude,Route1,Route2,Route3,Route4,Route5,Route6,Route7,Route8,Route9,Route10,Route11,EntranceCount
0,25th St,4 Avenue,-73.998091,40.660397,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1,25th St,4 Avenue,-73.998091,40.660397,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,36th St,4 Avenue,-74.003549,40.655144,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,36th St,4 Avenue,-74.003549,40.655144,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,36th St,4 Avenue,-74.003549,40.655144,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
5,45th St,4 Avenue,-74.010006,40.648939,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
6,45th St,4 Avenue,-74.010006,40.648939,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
7,45th St,4 Avenue,-74.010006,40.648939,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
8,45th St,4 Avenue,-74.010006,40.648939,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
9,53rd St,4 Avenue,-74.014034,40.645069,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
10,53rd St,4 Avenue,-74.014034,40.645069,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
11,53rd St,4 Avenue,-74.014034,40.645069,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
12,53rd St,4 Avenue,-74.014034,40.645069,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
13,53rd St,4 Avenue,-74.014034,40.645069,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
14,59th St,4 Avenue,-74.017881,40.641362,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
15,59th St,4 Avenue,-74.017881,40.641362,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
16,59th St,4 Avenue,-74.017881,40.641362,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
17,59th St,4 Avenue,-74.017881,40.641362,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
18,59th St,4 Avenue,-74.017881,40.641362,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
19,59th St,4 Avenue,-74.017881,40.641362,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6

In [9]:
unique_count = subway_stations.groupby(['Station Name', 'Line']).size().reset_index(name='Count')
print(f"Number of unique Station Name and Line combinations: {len(unique_count)}")
unique_count.head(5)

Number of unique Station Name and Line combinations: 465

        Station Name              Line  Count
0           103rd St          8 Avenue      1
1           103rd St  Broadway-7th Ave      5
2           103rd St          Flushing      4
3           103rd St         Lexington      2
4  104th St-102nd St  Broadway Jamaica      2

In [10]:
subway_stations = subway_stations.drop_duplicates(subset=['Station Name', 'Line'], keep='first')

In [11]:
subway_stations.head()

,Station Name,Line,Station Longitude,Station Latitude,Route1,Route2,Route3,Route4,Route5,Route6,Route7,Route8,Route9,Route10,Route11,EntranceCount
0,25th St,4 Avenue,-73.998091,40.660397,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,36th St,4 Avenue,-74.003549,40.655144,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
5,45th St,4 Avenue,-74.010006,40.648939,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
9,53rd St,4 Avenue,-74.014034,40.645069,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
14,59th St,4 Avenue,-74.017881,40.641362,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6

In [12]:
def count_routes(row):
    routes = [row['Route1'], row['Route2'], row['Route3'], row['Route4'], 
              row['Route5'], row['Route6'], row['Route7'], row['Route8'], 
              row['Route9'], row['Route10'], row['Route11']]
    return sum(1 for route in routes if pd.notna(route))

subway_stations['RouteCount'] = subway_stations.apply(count_routes, axis=1)

In [13]:
subway_stations.head()

,Station Name,Line,Station Longitude,Station Latitude,Route1,Route2,Route3,Route4,Route5,Route6,Route7,Route8,Route9,Route10,Route11,EntranceCount,RouteCount
0,25th St,4 Avenue,-73.998091,40.660397,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1
2,36th St,4 Avenue,-74.003549,40.655144,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
5,45th St,4 Avenue,-74.010006,40.648939,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1
9,53rd St,4 Avenue,-74.014034,40.645069,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1
14,59th St,4 Avenue,-74.017881,40.641362,N,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,2

In [14]:
subway_stations = subway_stations.drop(columns=[f'Route{i}' for i in range(1, 12)])

In [15]:
subway_stations.head()

,Station Name,Line,Station Longitude,Station Latitude,EntranceCount,RouteCount
0,25th St,4 Avenue,-73.998091,40.660397,2,1
2,36th St,4 Avenue,-74.003549,40.655144,3,2
5,45th St,4 Avenue,-74.010006,40.648939,4,1
9,53rd St,4 Avenue,-74.014034,40.645069,5,1
14,59th St,4 Avenue,-74.017881,40.641362,6,2